- title = "Project Request Dashboard"
- disciplines = [:aero, :chem, :civ, :env, :eee, :icct, :mat, :mech, :nano, :pde, :pdt, :med, :sport, :euro]
- requirements = {:aero => 37,
    :chem => 16,
    :civ => 76,
    :env => 2,
    :eee  => 26,
    :icct => 7,
    :mat => 17,
    :mech  => 41,
    :nano => 3,
    :pde  => 9,
    :pdt  => 10,
    :med  => 2,
    :sport => 66,
    :euro => 1}
- reqests = {:aero => 37,
    :chem => 16,
    :civ => 76,
    :env => 2,
    :eee  => 26,
    :icct => 7,
    :mat => 17,
    :mech  => 41,
    :nano => 3,
    :pde  => 9,
    :pdt  => 10,
    :med  => 2,
    :sport => 66,
    :euro => 1}
- last_year = 2010
- this_year = 2011
- @sondipon = {:title => 'Prof', :given_name => 'Sondipon', :last_name => 'Adhikari', :email => 's.adhikari@swansea.ac.uk', :requests => {:aero=> 3, :civil => 2}}
- @mike = {:title => 'Dr', :given_name => 'Mike', :last_name => 'Clee', :email => 'm.j.clee@swansea.ac.uk', :requests => {:aero=> 6}}
- @rowan = {:title => 'Dr', :given_name => 'Rowan', :last_name => 'Brown', :email => 'm.r.brown@swan.ac.uk', :requests => {:civ => 1, :mech => 2}}
- @cross = {:title => 'Prof', :given_name => 'Mark', :last_name => 'Cross', :email => 'm.cross@swansea.ac.uk', :requests => {:aero => 2, :civ=> 1}, :last_year => 0, :allocated => 0}
- @c2ec = [ @sondipon, @clee, @cross, @rowan]
%h1 
  =title
  
%h2 Planner
%table{ :summary => "Planning Totals", :border=>1 }
  %caption 
    Planning Totals
  %col
  %colgroup{:span => 13}
  %colgroup
    %col
    %col
    %col
  %thead
    %tr
      %td Projects
      -# Sever doesn't use :locals. See: Pull request https://github.com/jlong/serve/pull/21
      -# Work around is to define locals directly in the partial
      = render :partial=>'discipline_headings', :locals => {:disciplines => disciplines}
      %td= last_year
      %td= this_year
      %td Allocated
      %td Slots left
  %tbody
    = render :partial=>'project_requests',
      :locals => {:disciplines => disciplines,
      :requirements => requirements}
      
%h2 Projects requested from staff
%table{ :summary => "Project requests for C2EC", :border=>1 }
  %caption 
    Civil and Computational Engineering Research Centre (C2EC)
  %colgroup{:span => 4}
  %colgroup{:span => 13}
  %colgroup
    %col
    %col
    %col
  %thead
    %tr
      %td Title
      %td Given name
      %td Last name
      %td Email
      = render :partial => 'discipline_headings', :local=>{:disciplines => disciplines}
      %td= last_year
      %td= this_year
      %td Allocated
      %td Slots left
  %tbody
    %tr
      %td= @sondipon[:title]
      %td= @sondipon[:given_name]  
      %td= @sondipon[:last_name]  
      %td 
        %a{:href=>"mailto:#{@sondipon[:email]}"}
          = @sondipon[:email]
      %td 
        %input{ :type=>'text', :value=>"2", :name=>'ex1', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex1', :size=>1 }
      %td 
        %input{ :type=>'text', :value=>"2", :name=>'ex1', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex2', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex3', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex4', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex5', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex6', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex7', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex8', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex9', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex9', :size=>1 }
      %td 4
      %td
        %input{ :type=>'text', :name=>'req', :value=>5, :size=>1 }
      %td 0
      %td 5
    %tr
      %td= @rowan[:title]
      %td= @rowan[:given_name]  
      %td= @rowan[:last_name]  
      %td 
        %a{:href=>"mailto:#{@rowan[:email]}"}
          = @rowan[:email]
      %td 
        %input{ :type=>'text', :name=>'ex1', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex1', :size=>1 }
      %td 
        %input{ :type=>'text', :value=>1, :name=>'ex1', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex2', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex3', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex4', :size=>1 }
      %td 
        %input{ :type=>'text', :value=>1, :name=>'ex5', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex6', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex7', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex8', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex9', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex9', :size=>1 }
      %td 2
      %td
        %input{ :type=>'text', :name=>'req', :value=>3, :size=>1 }
      %td 0
      %td 3
    %tr
      %td= @mike[:title]
      %td= @mike[:given_name]  
      %td= @mike[:last_name]  
      %td 
        %a{:href=>"mailto:#{@mike[:email]}"}
          = @mike[:email]
      %td 
        %input{ :type=>'text', :value=>"2", :name=>'ex1', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex1', :size=>1 }
      %td 
        %input{ :type=>'text', :value=>"2", :name=>'ex1', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex2', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex3', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex4', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex5', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex6', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex7', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex8', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex9', :size=>1 }
      %td 
        %input{ :type=>'text', :name=>'ex9', :size=>1 }
      %td 6
      %td
        %input{ :type=>'text', :name=>'req', :value=>"6", :size=>1 }
      %td 0
      %td 6                  
    %tr
      %td= @cross[:title]
      %td= @cross[:given_name]  
      %td= @cross[:last_name]  
      %td 
        %a{:href=>"mailto:#{@cross[:email]}"}
          = @cross[:email]
      - @cross[:this_year] = 0
      - disciplines.each do |discipline|
        - if @cross[:requests][discipline] 
          - @cross[:this_year] += @cross[:requests][discipline]
          %td 
            %input{ :type=>'text', :name=>'request', :size=>1, :value => @cross[:requests][discipline]  }
        - else
          %td 
            %input{ :type=>'text', :name=>'ex1', :size=>1 }
      %td= @cross[:last_year]
      %td= @cross[:this_year]
      %td= @cross[:allocated]
      %td= @cross[:this_year] - @cross[:allocated]
      
